body {
	background-image: url(https://objectstorage.eu-marseille-1.oraclecloud.com/n/axmnd65wtqj5/b/bucket-20260302-1631/o/tp_iac_storage_web_staticstatic-sitebasque-country.webp);
	background-size: cover;

    font-size: 4rem;
    margin: 5rem;
}
